/* native HTML */

/* sets default margin to 0 to make positioning easier */
/* also sets font to Lucida Sans */
* {
    margin:0;
    font-family:'Lucida Sans';
}

/* sets background of website to a light green */
body {
background-color:#dff3e3;
}

/* creates an orange header */
header {
    background-color: #ffd1ba;
    width: 100vw;
    margin-bottom: 5px;
    text-align: center;
}

/* sets the header text to take up about 4% of the total view height*/
h1 {
    font-size: 4vw;
    padding-top: 0.5vw;
    padding-bottom :0.5vw;
}

/* sets the image size within the cards */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: #ce7da5 solid 2px;
    border-radius: 10%;
}

/* ------------------------------------------- */

/* classes not tied to view width*/

.container__card--design {
    margin: 5px;
    background-color: #bee5bf;
    border: #ce7da5 solid 2px;
    border-radius: 10%;
}

/* creates a container for where the image in each card will go */
.container__card__imagecontainer {
    height: 60%;
    width: 94%;
    margin-top: 10px;
    margin-left: 2.5%;
}

.container__card__textbox {
    height: 40%;
    width: 95%;
    margin-top: 10px;
    margin-left: 2.5%;
    text-align: center;
    text-wrap: inherit;
}

/* ------------------------------------------- */

/* classes tied to view width */

/* media 1200px width or more */
/* sets the size of the card which contains the image and textbox */
.container__card {
    height : 22.5vw;
    width : 22.5vw;
}

/* creates a container that contains where the text will be entered */
.container__card__textbox--textsize {
    font-size: 1vw;
}

/* media 1200px width or less */
@media screen and (max-width: 1200px) {

    /* sets the size of the card which contains the image and textbox */
    .container__card {
        height : 30vw;
        width : 30vw;
    }

    /* creates a container that contains where the text will be entered */
    .container__card__textbox--textsize {
        font-size: 1.3vw;
    }

}

/* media 900px width or less */
@media screen and (max-width: 900px) {

    /* sets the size of the card which contains the image and textbox */
    .container__card {
        height : 45vw;
        width : 45vw;
    }

    /* creates a container that contains where the text will be entered */
    .container__card__textbox--textsize {
        font-size: 2vw;
    }

}

/* media 600px width or less */
@media screen and (max-width: 600px) {

    /* sets the size of the card which contains the image and textbox */
    .container__card {
        height : 90vw;
        width : 90vw;
    }

    /* creates a container that contains where the text will be entered */
    .container__card__textbox--textsize {
        font-size: 4vw;
    }

}

/* ------------------------------------------- */

/* ids */

/* this container contains all the cards in the photo gallery */
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height : 100vh;
    width: 100vw;
}
